/* Generals ba*/
*{
  box-sizing: border-box;
  max-width: 100%;
  height: auto;
  font-family: "Optima", sans-serif;

}

/* CSS reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


li{
  color: white;
  font-family: "Optima", sans-serif;
}
a {
    text-decoration: none;
  display:block;
  width:inherit;
}
a:link, a:visited {
    color: white;
}
a:hover {
    color: #743b0f;
}

input{
   background-color: transparent;
   border-top: none;
   border-left: none;
   border-right: none;
   border-width: .2px;
   color: white;
   padding-top: 1rem;

  }

div{
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
  background-color: black;

}

img{
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-bottom: 0;
}

button{
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-bottom: 0;

}

footer{
  width: 100%;
}



/* Hero section */
/* background image*/
.hero{
  background-image: url('https://i.imgur.com/7ob18zM.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100%;
  margin-bottom: 0;
  padding-bottom: 27rem;
}



.searchitem{
  position: static;
  width: 3.5rem;
  height: 3rem;
  margin-left: 72rem;
  margin-top: 1rem;
}

.signin{
  margin-left: 72rem;
  color: white;
  margin-bottom: -10rem;

}


/* Style for "logo" */
.logo{
max-width:19.625rem;
height:auto;
padding-top: 0;
padding-left: 1.9rem;
margin-top: 5rem;
}

.navigation{
  font-size: .625rem;
  line-height: 1.5rem;
  position: relative;
  margin-top: 2.5rem;
  margin-bottom: 0;
  padding-bottom: 0;
  padding-left: 1.9rem;

}


/* Style for two images with parallax and button  */
.wrapper {
  /* The height needs to be set to a fixed value for the effect to work.
   * 100vh is the full height of the viewport. */
  height: 100vh;
  /* The scaling of the images would add a horizontal scrollbar, so disable x overflow. */
  overflow-x: hidden;
  /* Enable scrolling on the page. */
  overflow-y: auto;
  /* Set the perspective to 2px. This is essentailly the simulated distance from the viewport to transformed objects.*/
  perspective: 2px;
}

.section {
  /* Needed for children to be absolutely positioned relative to the parent. */
  position: relative;
  /* The height of the container. Must be set, but it doesn't really matter what the value is. */
  height: 100vh;

  /* For text formatting. */
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-shadow: 0 0 5px #000;
}

.parallax::after {
  /* Display and position the pseudo-element */
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  /* Move the pseudo-element back away from the camera,
   * then scale it back up to fill the viewport.
   * Because the pseudo-element is further away, it appears to move more slowly, like in real life. */
  transform: translateZ(-1px) scale(1.5);
  /* Force the background image to fill the whole element. */
  background-size: 100%;
  /* Keep the image from overlapping sibling elements. */
  z-index: -1;
}

/* The styling for the static div. */

/* Sets the actual background images to adorable kitties. This part is crucial. */
.bg1::after {
  background-image: url('https://i.imgur.com/sPq2lHF.jpg');
}

.bg2::after {
  background-image: url('https://i.imgur.com/GNXjKDt.jpg');
}


/* Container needed to position the button. Adjust the width as needed */



/* experiment */





/* Footer 1 and 2 */
.footer1{
  text-align: left;
  line-height: 1.5rem;
  letter-spacing: .001rem;
  height: 14.12rem;
  width: 100%;
  background-color: black;
  margin-top: 0;
  padding-top: 0;
}
.container1{
  display: flex;
  flex-direction: row;
  font-size: 12px;
  justify-content: space-around;
  padding-top: 0;
  margin-top: 0;
}
.box1 , .box2 , .box3 , .box4 , .box5 {
  margin-top: 0;
  padding-top: 2.75rem
}
.search{
  width: 3.5rem;
  height: 3rem;
}
.footer2 {
  height: 10rem;
  width: auto;
  background-color: black;
  margin-bottom: 0;
  border-top: 1px solid grey;

}

.footerlogo{
  width: 5.125rem;
  height: 3rem;
  margin: 0 auto;
  padding-top: 2rem;
}
